
#yellow{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
    cursor: pointer;
    
}

#green{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:green;
    cursor: pointer;
}

.container{
    margin-top: 30px;
    width: fit-content;
    height: fit-content;
    background-color: black;
    border-radius: 10%;
}

.shadowes {
    -webkit-box-shadow: 10px 10px 104px 30px rgba(193,214,32,1);
    -moz-box-shadow: 10px 10px 104px 30px rgba(193,214,32,1);
    box-shadow: 10px 10px 104px 30px rgba(193,214,32,1);
 }

body{
    background-color: gray;
}

#red{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
}